<!DOCTYPE html>
<br lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>info接口请求信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<h2>post参数:</h2>
<#if postBody?exists>
    <tr>
        <td>${postBody}</td>
    </tr></br>
</#if>

</br>

<h2>cookies:</h2>
<#if cookies?exists>
    <#list cookies as key>
        <tr>
            <td>${key}</td>
        </tr></br>
    </#list>
</#if>

</br>

<h2>heads:</h2>
<#if headMap?exists>
    <#list headMap?keys as key>
        <tr>
            <td>${key} : </td>
            <td>${headMap[key]}</td>
        </tr></br>
    </#list>
</#if>

</br>

<h2>耗时:</h2>
${cost}ms

</body>
</html>
